<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->

    <meta
      http-equiv="Content-Security-Policy"
      content="upgrade-insecure-requests"
    />
    <script
      async
      http-equiv="X-UA-Compatible"
      content="IE=edge"
      src="https://www.googletagmanager.com/gtag/js?id=G-X085TX7411"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-X085TX7411");
    </script>

    <!-- Clarity (clarity.js) - Microsoft analytics -->
    <script type="text/javascript">
      (function (c, l, a, r, i, t, y) {
        c[a] =
          c[a] ||
          function () {
            (c[a].q = c[a].q || []).push(arguments);
          };
        t = l.createElement(r);
        t.async = 1;
        t.src = "https://www.clarity.ms/tag/" + i;
        y = l.getElementsByTagName(r)[0];
        y.parentNode.insertBefore(t, y);
      })(window, document, "clarity", "script", "93jfa0ufr9");
    </script>

    <!-- Title and Icon -->

    <title>Videochat</title>
    <link rel="shortcut icon" href="../images/favicon.png" />
    <link rel="apple-touch-icon" href="../images/favicon.png" />

    <!-- Meta Information -->

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="description" content="videochat.uz. Video muloqot portali" />
    <meta
      name="keywords"
      content="webrtc, self hosted, voip, sip, real-time communications, chat, messaging, meet, webrtc stun, webrtc turn, video meeting, video chat, video conference, multi video chat, multi video conference, peer to peer, p2p, rtc, alternative to, zoom, microsoft teams, google meet, jitsi, meeting"
    />

    <!-- https://ogp.me -->

    <!-- Primary Meta Tags -->
    <title>Videochat</title>
    <meta name="title" content="videochat.uz" />
    <meta name="description" content="Video muloqot portali" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://videochat.uz/" />
    <meta property="og:title" content="videochat.uz" />
    <meta property="og:description" content="Video muloqot portali" />
    <!-- <meta property="og:image" content="https://videochat.uz/images/preview.png"> -->

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://videochat.uz/" />
    <meta property="twitter:title" content="videochat.uz" />
    <meta property="twitter:description" content="Video muloqot portali" />
    <!-- <meta property="twitter:image" content="https://videochat.uz/images/preview.png"> -->

    <!-- StyleSheet -->

    <link rel="stylesheet" href="../css/landing.css" />
    <link rel="stylesheet" href="../css/newcall.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css"
    />
  </head>

  <body class="has-animations">
    <div class="body-wrap">
      <header class="site-header reveal-from-top">
        <div class="container">
          <div class="site-header-inner">
            <div class="brand">
              <div class="m-0">
                <a href="/"
                  ><img
                    src="../images/favicon.png"
                    alt="Neon"
                    width="32"
                    height="32"
                  /><span>Videochat.uz</span></a
                >
              </div>
            </div>
            <!-- <div class="login-button">
            <a href="#" class="button button-primary button-wide-mobile br-2 pulse btn-hover" style="border: 2px solid #D8D8D88F; text-transform: none;">
              <span id="usersCount">
                0
              </span>
               foydalanuvchi onlayn
            </a>
          </div> -->
          </div>
        </div>
      </header>
      <main class="site-content">
        <section class="hero section illustration-section-01">
          <div class="container">
            <div class="hero-inner section-inner">
              <div class="split-wrap invert-mobile">
                <div class="split-item">
                  <div
                    class="hero-content split-item-content center-content-mobile"
                  >
                    <h1
                      class="mt-0 mb-16 reveal-from-bottom"
                      data-reveal-delay="150"
                    >
                      Videochat.uz <br />
                      Bepul online real-vaqt video muloqot
                      <br />
                      Oddiy, tez va xavfsiz.
                    </h1>
                    <p
                      class="mt-0 mb-32 reveal-from-bottom"
                      data-reveal-delay="200"
                    ></p>
                    <div class="reveal-from-bottom" data-reveal-delay="400">
                      <label for="phone">Raqamingizni kiriting:</label><br />
                      <input
                        style="
                          background-color: #f1f1f1;
                          font-size: x-large;
                          border: none;
                          border-radius: 8px;
                        "
                        type="tel"
                        id="phone"
                        name="phone"
                        autocomplete="on"
                        autofocus
                        required
                      />
                      <button
                        class="button button-primary button-wide-mobile br-6 pulse btn-hover"
                        id="joinchat"
                        style="
                          border: 0;
                          background-image: linear-gradient(
                            to right,
                            #03001e,
                            #7303c0,
                            #ec38bc
                          );
                        "
                      >
                        Kirish
                      </button>
                    </div>
                  </div>
                  <style>
                    @media (min-width: 641px) {
                      .hero .split-wrap .split-item {
                        min-height: 492px;
                      }
                    }
                  </style>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>

      <footer class="site-footer center-content-mobile">
        <div class="container">
          <div class="site-footer-inner">
            <div class="footer-top space-between text-xxs">
              <div class="brand">
                <a href="/" style="display: flex; align-items: center"
                  ><img
                    src="../images/favicon.png"
                    alt="Videolify logo"
                    style="width: 32px; height: 32px; margin-right: 10px"
                  />videochat.uz</a
                >
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
    <script>
      const smsURL = "http://81.95.228.2:8080/sms_send.php";
      const mainURL = "https://videochat.uz";
      const userPhoneInput = document.getElementById("phone");
      const getUserPhoneBtn = document.getElementById("joinchat");
      getUserPhoneBtn.addEventListener("click", async () => {
        const phone = userPhoneInput.value.replaceAll(" ", "");
        let validPhone = validatePhone(phone);
        if (!validPhone || !phone) {
          swal.fire("Telefon raqami yo'q yoki hato");
        }

        let userOperator = clarifyUserOperator(validPhone);

        if (userOperator != "ums") {
          findPeer();
          return;
        }
        const userStatus = await getUserInfo(validPhone, "status");

        if (userStatus == "1") {
          findPeer();
          return;
        }

        if (userStatus == "0" || userStatus == "1") {
          const generatedCode = generateCode();
          const smsStatus = await sendSMSCode(validPhone, generatedCode);
          const code = await getCode();
          if (code === generatedCode) {
            const isUserSubscribed = await subscribeUser(validPhone);
            if (isUserSubscribed != "ok") {
              window.location.href = "/";
            }
            localStorage.setItem("userStatus", "subscribed");
            findPeer();
          }
        }
      });

      async function subscribeUser(phone) {
        try {
          const url = `${mainURL}/userinfo?action=sub&msisdn=${phone}`;
          const response = await fetch(url, {
            method: "GET",
          });
          const info = await response.json();
          return info;
        } catch (err) {
          console.log(err);
        }
      }

      function generateCode() {
        return Math.floor(1000 + Math.random() * 9000).toString();
      }

      async function getCode() {
        let code;

        while (!code) {
          const result = await swal.fire({
            title: "sms codeni kirting",
            input: "text",
            inputAttributes: {
              maxlength: 4,
              pattern: "[0-9]*",
            },
            showCancelButton: true,
          });

          if (result.dismiss === swal.DismissReason.cancel) {
            break;
          }

          const userCode = result.value;

          if (userCode.length === 4) {
            code = userCode;
          } else {
            swal.fire("hato codeni kiritdingiz");
          }
        }

        return code;
      }

      function clarifyUserOperator(userNumber) {
        return userNumber.slice(3).startsWith(88) ||
          userNumber.slice(3).startsWith(97)
          ? "ums"
          : "other";
      }

      async function getUserInfo(phone, infoType) {
        try {
          const url = `${mainURL}/userinfo?action=${infoType}&msisdn=${phone}`;
          const response = await fetch(url, {
            method: "GET",
          });
          const info = await response.json();
          return info;
        } catch (err) {
          console.log(err);
        }
      }

      function validatePhone(phone) {
        let validPhoneNumber = 0;
        if (phone.length == 9 && !isNaN(Number(phone))) {
          return "998" + phone;
        } else if (phone.startsWith("+998") && phone.length == 13) {
          return phone.slice(1);
        } else if (phone.replace(/\d/, "").length > 1) {
          return false;
        } else if (isNaN(Number(phone))) {
          return false;
        } else {
          return "998" + phone;
        }
      }

      async function sendSMSCode(phone, code) {
        try {
          const url = `${mainURL}/sendsms?msisdn=${phone}&body=${code}`;
          const response = await fetch(url, {
            method: "GET",
          });
          const info = await response.json();
          return info;
        } catch (err) {
          console.log(err);
        }
      }

      function findPeer() {
        fetch("/api/freepeers")
          .then((response) => response.json())
          .then((data) => {
            let joinUrl = `/join/${data.freePeer}`;
            window.location.href = joinUrl;
          });
      }
      function usersCount() {
        fetch("/api/groupspeer")
          .then((response) => response.json())
          .then((data) => {
            let usersCount = document.getElementById("usersCount");
            usersCount.innerHTML = data.users || "";
          });
      }
      usersCount();
    </script>
    <script defer src="../js/landing.js"></script>
  </body>
</html>
