#audioDeviceOptions {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  background: #4f709c;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 22px;
  border-radius: 5px;
  z-index: 999;
}

.device-buttons {
  display: flex;
  flex-direction: column;
}

.device-button {
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.device-button + .device-button {
  margin-top: 10px;
}

.device-button:hover {
  background-color: #e0e0e0;
}

.audioOptionBtn {
  display: inline-block;
  border-radius: 5px;
  background-image: linear-gradient(to right, #001524 0%, #2575fc 100%);
  border: none;
  color: white;
  text-align: left;
  font-size: 14px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
}

.audioOptionBtn:hover {
  background-image: linear-gradient(to right, #2575fc 0%, #001524 100%);
}
